// colors
$primary-color:#5E88C0 ;
$second-color:#b11226;
$third-color:#C0965E;
$fourth-color:#426EA9;
$fifth-color: black;

// div{
//     border: solid black 1px;
//     margin: 5px;
//     padding: 5px
// }
#navMenu{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    // right:0;
    // bottom: 0;
    width: 100%;
    height: 100%;
    margin-left: -2000px;

    background-color: grey;
}
#navMenu:target{
    margin-left: 0px;

}

#navbar{
    // border: 2px solid $fith-color;
    display: flex;
    background-color:$primary-color ;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
}
.navItems{
    // border: 2px solid $fith-color;
    display: flex;
    background-color: $third-color ;
    align-items: center;
    height: 100%;
    height: 1.5em
}
main{
    display: flex;
    margin-top: 1.5em;
}
// #hItem1{// button

// }
// #hItem2{
// }

// #hItem3{
// }