// colors
$primary-color:#5E88C0 ;
$second-color:#b11226;
$third-color:#C0965E;
$fourth-color:#426EA9;
$fifth-color: black;

//testing borders
// div, section{
//     border: solid black 1px;
// }

//foot & text size
h1{
    font-family: "Times New Roman";
    font-size: 2rem;
}
p{
    font-family: "Times New Roman";
    font-size: 1.2rem;
}

//DROP DOWN MENU 
#navMenu{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-left: -10000px;
    padding-top: 3rem;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: $third-color;
    justify-content: space-around;
}

.navMenuSection1 {
    display: flex;
    flex-direction: column;
    left:0;
    width:80%;
    
    a{
        display:flex;
        color: black;
        text-decoration: none;
        background-color: $primary-color;
        margin-bottom: 1rem;
        justify-content: center;
        font-size: 2rem;
        border: $second-color solid 1px;
    }
}
.navMenuSection2 {
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: flex-end;
    a{
        display:flex;
        background-color: $primary-color;
        justify-content: center;
        padding-left: 3rem;
        padding-right: 3rem;
        border: $second-color solid 1px;
    }
    img{
        width:3rem;
    }
    
}
.navMenuSection1, .navMenuSection2{
    a:hover{
        background-color: $second-color;
    }
}

#navMenu:target{
    // this makes it so the nav bar is moved onto the screen when pressed
    margin-left: 0px;
}


// NAV BAR

#navbar{
    display: flex;
    background-color:$primary-color ;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 2rem;
    z-index: 1;
}
.navItems{
    display: flex;
    background-color: $third-color ;
    align-items: center;
    height: 100%;
    height: 1.5em;
    h1{
        font-size: 1.5rem;
    }
}

#OpenNavButton{
    width: 1.5rem;
    height: 1.5rem;
}
#OpenNavButton:hover{
    width: 1.5rem;
    height: 1.5rem;
    background-color: $second-color;
}




//MAIN
// body{
//     background-color: $third-color;
// }
.Main-Content{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
    //background-color: $third-color;

}
.Main-Heading{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    //background-color: $third-color;

}
.Main-Body{
    display: flex;
    background-color: $third-color;
}
.Main-Image-box{
    display: flex;
    width: 100%;
    border: dotted $second-color 5px;
    margin-bottom: 0.2rem;

}
.Main-Image{
    width: 100%;
}

// Blog 
.blogBox{
    display:flex;
    margin: rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
}
.blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;
    background-color: $primary-color;
    margin-bottom: 1rem;

}
.blog-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
// .blog-title{
//     
// }
.imageSection{
    display: flex;
    width: 90%;
    border: dotted $second-color 5px;
    //margin-bottom: 0.2rem;
    margin: 1%;
}
.blogImage{
    width: 100%;
}
.textSection{
    display: flex;
    border: dotted $second-color 5px; 
    width: 90%;
    flex-direction: column;
    background-color: $third-color;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 1%;
}


//Responsive Design for tablet
@media screen and (min-width: 600px) {
    //DROP DOWN MENU 
    #navMenu{
        display: flex;
        position: fixed;
        top:0;
        left: 0;
        height: 100%;
        width: 40%;
        margin-left: -10000px;
        padding-top: 3rem;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $third-color;
        border: $primary-color solid 5px ;
        justify-content: space-around;
    }

    .blog-post{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start; 
    }
    .textSection{
        display: flex;
        border: dotted $second-color 5px; 
        width: 90%;
        flex-direction: column;
        background-color: $third-color;
        margin-top: 1%;
        margin-bottom: 3%;
        margin-left: 2%;
        margin-right: 2%;
    }
}//end responsive design for tablet

//responsive design for pc
@media screen and (min-width: 1025px) {
    #navMenu{
        display: flex;
        position: fixed;
        top:0;
        left: 0;
        height: 100%;
        width: 20%;
        margin-left: -10000px;
        padding-top: 3rem;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $third-color;
        border: $primary-color solid 5px ;
        justify-content: space-around;
    }
    //blog
    .blogBox{
        display: flex;
        margin: 1rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        
    }
    .blog{
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-items: flex-start;
        flex-direction: column;
        background-color: $primary-color;
        width: 500px;
        margin-left: 2%;
    }
    .blog-post{
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-items: flex-start;
        flex-direction: column;

    }

}//end responsive design for pc

